body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: auto;
}

h2 {
  color: #369;
}
#chart {
  height: 500px;
  font: 13px sans-serif;
}
.node rect {
  fill-opacity: .5;
  shape-rendering: crispEdges;
  stroke-width: 0;
  cursor: pointer;
}
.node react:hover {
  fill-opacity: 1;
  stroke-width: 1;
}
.node text {
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.year-node {
  fill: transparent;
}

.year-link {
  stroke-opacity: 0;
}
