{
  "extends": "airbnb/base",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "prefer-spread": 0,
    "no-param-reassign": 0,
    "import/newline-after-import": 0,
    "max-len": 0
  }
}
